@model IEnumerable<eMartHoangMinh.Models.FE.Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col">
    @if (Model != null && Model.Any())
    {
        <div class="product-grid" data-isotope='{ "itemSelector": ".product-item", "layoutMode": "fitRows" }'>
            @foreach (var item in Model)
            {
                <div class="product-item men">
                    <div class="product discount product_filter">
                        <div class="product_image">
                            <img src="@item.Image" alt="">
                        </div>
                        <div class="favorite favorite_left"></div>
                        <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>-@(item.Price - item.PriceSale) k</span></div>
                        <div class="product_info">
                            <h6 class="product_name"><a href="single.html">@item.Name</a></h6>
                            @if (item.IsSale)
                            {
                                <div class="product_price">@item.PriceSale<span>@item.Price</span></div>
                            }
                            else { 
                                <div class="product_price"><span>@item.Price</span></div>
                            }
                        </div>
                    </div>
                    <div class="red_button add_to_cart_button"><a href="#">Thêm vào giỏ hàng</a></div>
                </div>
            }
        </div>
    }
</div>

