@model eMartHoangMinh.Models.FE.News
@{
    ViewBag.Title = "Chi tiết tin tức";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Create category</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/admin/home">Trang chủ</a></li>
                    <li class="breadcrumb-item"><a href="/admin/category">Tin tức</a></li>
                    <li class="breadcrumb-item active">Chi tiết tin tức</li>
                </ol>
            </div>
        </div>
    </div>
</section>

@*main*@
<section class="content">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Chi tiết tin tức</h3>
        </div>
        <div class="card-body">
            @using (Html.BeginForm("Details", "News", FormMethod.Get, new { }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
            <div class="bs-stepper-content">
                <div class="form-group">
                    <label for="Image">Ảnh</label>
                    <img src="@Model.Image"/>
                </div>
                <div class="form-group">
                    <h4>@Model.Name</h4>
                </div>
                <div class="form-group">
                    <h6>@Model.Description</h6>
                </div>
                <div class="form-group">
                    @Html.Raw(Model.Detail)
                </div>
                <div class="form-group">
                    <a href="~/Areas/Admin/Views/News/Index.cshtml">Danh mục: @Model.Category.Name</a>
                </div>
                <div class="form-group">
                    <label>Người tạo: @Model.CreateBy</label>
                </div>
                <div class="form-group">
                    <label>Ngày tạo: @Model.CreateDate.ToString("dd/MM/yyyy")</label>
                </div>
                <div class="form-group">
                    <a href="~/Areas/Admin/Views/News/Index.cshtml" class="btn btn-secondary">Quay lại</a>
                </div>
            </div>
            }

        </div>
    </div>

</section>

