@model IEnumerable<eMartHoangMinh.Models.FE.News>
@{
    ViewBag.Title = "Quản lý tin tức";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Quản lý tin tức</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/admin/home">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Tin tức</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">List Category</h3>

            <div class="card-tools">
                <a href="/admin/news/create" class="btn btn-primary">Tạo mới</a>

            </div>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr class="text-center">
                        <th>STT</th>
                        <th>Tiêu đề</th>
                        <th>Hình ảnh</th>
                        <th>Ngày tạo</th>
                        <th>Người tạo</th>
                        <th>Hiển thị</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        var i = 1;
                        foreach (var item in Model)
                        {
                            var strDisplay = item.IsActive ? "<a href='#'><i class='fa fa-check text-success'></i></a>" : "<a href='#'><i class='fas fa-times text-danger'></i></a>";
                            <tr class="text-center" id="trow_@item.Id">
                                <td>@i</td>
                                <td><img src="@item.Image" width="50" /></td>
                                <td>@item.Name</td>
                                <td>@item.CreateDate.ToString("dd/MM/yyyy")</td>
                                <td>@item.CreateBy</td>
                                <td>@Html.Raw(strDisplay)</td>
                                <td>
                                    <a href="#" data-id="@item.Id" onclick="DeleteNews(@item.Id)" class="btn btn-sm btn-danger btnDelete float-right">Xóa</a>
                                    <a href="/admin/news/edit/@item.Id" class="btn btn-sm btn-primary float-right">Sửa</a>
                                    <a href="/admin/news/detail/@item.Id" class="btn btn-sm btn-dark float-right">Xem</a>
                                </td>
                            </tr>
                            i++;
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="10">Không có tin tức !!!</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="card-footer">
        </div>
    </div>
</section>

<script>
    function DeleteNews(id) {
        var finder = new CKFinder();
        var conf = confirm('Bạn có muốn xóa bản ghi này không?');
        if (conf === true) {
            $.ajax({
                url: 'delete',
                type: 'POST',
                data: { id: id },
                success: function (rs) {
                    if (rs.success === false) {
                        alert('Xóa bản ghi không thành công.');
                    }
                }
            });
        }
    }
</script>
